[database]
    user=user
    name=odd
[location]
    domain=localhost:8080
    protocol="http://"
[environment]
    develop=false
    staticdatadir=static/data
    staticassetdir=static/assets
    templatedir=templates
[smtp]
    address=smtp.example.com
    port=25
    email=forgot@example.com
    password=SECRETPASSWORD
[publication]
    name=My Cool Comic
    publisher=Me
