[database]
    user=user
    name=odd
[location]
    domain=localhot:8080
    protocol="http://"
[environment]
    develop=false
    static_data_dir=static/data
    static_asset_dir=static/assets
    template_dir=templates
[smtp]
    address=smtp.example.com
    port=25
    email=forgot@example.com
    password=SECRETPASSWORD
[publication]
    name=My Cool Comic
    publisher=Me
