{{ define "content" }}
<h1 style="font-size:8em;" class="nav-link">404</h1>
<h2 style="font-size:3em;" class="nav-link">Funny not found. :-(</h2>
<hr>
<p style="font-size:1.5em;" class="nav-link">Return to the <a href="/" title="Home Page">home page</a>.</p>
<p>
{{ end }} 
