body {
    font-family: 'Oswald', sans-serif;
}

.title {
    color: #b43636;
}

a.navbar-item:hover {
    color: #b43636;
}

.mast-head {
    max-height: 15rem;
    font-family: 'Fontdiner Swanky', cursive;
}

.centered h1, h2, small{
    text-align: center;
}


.primary-content {
    min-height: 50%;
}

.navbar.is-fixed-top {
    top: 0;
}

.footer.is-fixed-bottom {
    bottom: 0;
}

.svg {
    max-width:100%;
    max-height: 10rem;
    width:auto;
    height:auto;
}

.auto-columns {
    display: grid;
    width: 100%;
    grid-template-areas: "a a a";
    grid-auto-columns: 33%;
    grid-gap: 1%;
}

.auto-column {
    height: 100%;
    width:100%;
}

.spaced {
    margin: 1rem;
}

.image {
    margin-left: auto;
    margin-right: auto;
}

.share-button svg{
    color: white;
    fill: white;
}

.share-button span{
    color: white;
}

.reddit {
    background-color: #ff4500;
}

.facebook {
    background-color: #4267b2;
}

.twitter {
    background-color: #1da1f2;
}

.tumblr {
    background-color: #314358;
}
