{{ define "base.tmpl" }}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Owl's Don't Dance</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/tweaks.css">
        <meta property="og:site_name" content="Owl's Don't Dance"/>
        {{ template "headers" . }}
    </head>
    <body>
        <!-- Masthead --> <div class="tile is-ancestor"> <div class="tile is-2"></div>
            <div class="tile">
                <a href="/" class="level">
                    <img class="mast-head svg is-hidden-mobile" alt='Orville' src="/assets/nav/topowl.png"/>
                    <img class="mast-head svg" alt="Owl's Don't Dance" src="/assets/nav/toptext.svg"/>
                </a>
            </div>
            <div class="tile is-2"></div>
        </div>

        <!-- Main Content -->
        <div class="tile is-ancestor">
            <!-- Nav -->
            <div class="is-hidden-mobile tile is-vertical is-parent is-2">
                <div class="tile is-1-3 nav-bar">
                    <a class="nav-link" href="/"><img class="svg nav" alt="Home" src="/assets/nav/home.svg"/></a>
                </div>
                <div class="tile is-1-3 nav-bar">
                    <a class="nav-link" href="/"><img class="svg nav" alt="Shop" src="/assets/nav/shop.svg"/></a>
                </div>
                <div class="tile is-1-3 nav-bar">
                    <a class="nav-link" href="/archive"><img class="svg nav" alt="Archive" src="/assets/nav/archive.svg"/></a>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                {{ template "content" . }}
            </div>
        </div>
        {{ template "footer" . }}
        <div class="columns">
            <!-- Home -->
            <div class="column is-hidden-tablet">
                <p class="box share-button button-nav has-text-centered">
                <a href="#">
                    Home
                </a>
                </p>
            </div>

            <!-- Shop -->
            <div class="column is-hidden-tablet">
                <p class="box share-button button-nav has-text-centered">
                <a href="#">
                    Shop
                </a>
                </p>
            </div>

            <!-- Archive -->
            <div class="column is-hidden-tablet">
                <p class="box share-button button-nav has-text-centered">
                <a href="#">
                    Archive
                </a>
                </p>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                    <strong>Owl's Don't Dance</strong> by <a href="https://twitter.com/DoolopCartoons">Lauren Dunlop</a>. © Copyright 2013-2016.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
{{ end }}

{{ define "footer" }} {{ end }}
{{ define "headers" }} {{ end }}
