{{ define "public.tmpl" }}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ name }}</title>
        <link ref="stylesheet" href="/assets/css/minireset.min.css">
        <link rel="stylesheet" href="/assets/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/coolcomic.css">
        <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Oswald" rel="stylesheet"> 
        <meta property="og:site_name" content="{{ name }}"/>
        {{ template "headers" . }}
    </head>
    <body>
        <!-- Masthead -->
        <section class="mast-head">
            <div class="container">
                <div class="level">
                    <div class="level-item">
                        <h1 class="title ">
                            {{ name }}
                        </h1>
                        <img class="svg " alt="{{ name }}" src="/assets/img/logo.svg">
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <!-- Nav -->
        <nav id="navbar" role="navigation" aria-label="navigation" class="navbar is-hidden-mobile">
            <div class="navbar-menu">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/archive">Archive</a>
            </div>
        </nav>
        <!-- Content -->
        <section class="primary-content">
            {{ template "content" . }}
        </section>

        <footer class="footer is-fixed-bottom">
            <div class="container">
                <strong>{{ name }}</strong> by {{ publisher }}.
            </div>
        </footer>
    </body>
</html>
{{ end }}

{{ define "footer" }} {{ end }}
{{ define "headers" }} {{ end }}
