{{ define "content" }}
<div class="container">
    <div class="auto-columns">
        {{ range .posts }}
        <div class="auto-column spaced centered">
            <a href="/post/{{ .Num }}">
                <h2>{{ .Title }}</h2>
            </a>
            <small>{{ .Posted | prettyDate }}</small>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
