{{ define "content" }}
<div class="container centered">
{{ if .Error }}
    <h1 style="font-size:8em;">{{ .Error.Code }}</h1>
    <h2 style="font-size:3em;">{{ .Error.Message }}</h2>
{{ else }}
    <h1 style="font-size:8em;">404</h1>
    <h2 style="font-size:3em;">Funny not found. :-(</h2>
{{ end }}
    <hr>
    <p style="font-size:1.5em;">Return to the <a href="/" title="Home Page">home page</a>.</p>
</div>
{{ end }} 
